/* Styles specific to the Login component */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: white;
    position: relative; /* Allows for absolute positioning of children */
}

.login-header {
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border: 3px solid #060E57;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 15px;
}

.form-label {
    font-weight: bold;
    color: #060E57;
    text-align: center;
    width: 100%;
}

.form-input {
    padding: 10px;
    border: 1px solid #060E57;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.error-message {
    color: red;
    margin-top: 5px;
    text-align: center;
}

.submit-button {
    padding: 10px;
    background-color: #060E57;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 20px;
    width: 100%;
    max-width: 150px;
}

.submit-button:hover {
    background-color: #f0f0f0;
    color: #060E57;
}

.message {
    margin-top: 10px;
    text-align: center;
    color: green; /* Customize this for success messages */
}

/* Button group styles specifically for the Login component */
.login-button-group {
    position: absolute;
    top: 20px; /* Adjust this value to move it up/down */
    right: 20px; /* Adjust this value to move it left/right */
}

.back-button {
    background-color: #060E57; /* Your button color */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.back-button:hover {
    background-color: #0056b3; /* Darker shade on hover */
}
